<!DOCTYPE html>
<html ng-app="lemonade">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lemonades</title>
    <link rel="stylesheet" href="/public/css/flatty.css">
    <link rel="stylesheet" href="/public/css/app.css">

    <script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/public/bower_components/angular/angular.js"></script>
    <script src="/public/bower_components/angular-cookie/angular-cookie.min.js"></script>
    <script src="/public/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/public/bower_components/angular-animate/angular-animate.min.js"></script>

    <div id="fb-root"></div>

    <script src="//use.typekit.net/xpw2ktq.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <script src="/public/js/app.js"></script>

</head>
<body  ng-view>

</body>
</html>