<script>
    // Include the UserVoice JavaScript SDK (only needed once on a page)
    UserVoice = window.UserVoice || [];
    (function () {
        var uv = document.createElement('script');
        uv.type = 'text/javascript';
        uv.async = true;
        uv.src = '//widget.uservoice.com/f5oeTjQEmzbG51fJhjObxg.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(uv, s)
    })();

    //
    // UserVoice Javascript SDK developer documentation:
    // https://www.uservoice.com/o/javascript-sdk
    //

    // Set colors
    UserVoice.push(['set', {
        accent_color: '#e8277a',
        trigger_color: 'white',
        trigger_background_color: '#e8277a'
    }]);

    // Identify the user and pass traits
    // To enable, replace sample data with actual user traits and uncomment the line
    UserVoice.push(['identify', {
        //email:      'john.doe@example.com', // User’s email address
        //name:       'John Doe', // User’s real name
        //created_at: 1364406966, // Unix timestamp for the date the user signed up
        //id:         123, // Optional: Unique id of the user (if set, this should not change)
        //type:       'Owner', // Optional: segment your users by type
        //account: {
        //  id:           123, // Optional: associate multiple users with a single account
        //  name:         'Acme, Co.', // Account name
        //  created_at:   1364406966, // Unix timestamp for the date the account was created
        //  monthly_rate: 9.99, // Decimal; monthly rate of the account
        //  ltv:          1495.00, // Decimal; lifetime value of the account
        //  plan:         'Enhanced' // Plan name for the account
        //}
    }]);

    // Add default trigger to the bottom-right corner of the window:
    UserVoice.push(['addTrigger', {mode: 'contact', trigger_position: 'bottom-right'}]);

    // Or, use your own custom trigger:
    //UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

    // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
    UserVoice.push(['autoprompt', {}]);
</script>
<div class="container-fluid" ng-controller="LoginPageController as ctrl"
     style="padding-top: 20px;padding-bottom: 50px;">
    <div class="container">
        <div class="col-md-4 col-sm-4 col-sm-offset-4 col-md-offset-4">
            <a href="" ng-click="goToDashboard()"><img src="/public/img/glass.png" height="80px;" style="display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;"/></a>

            <h2 class="text-center" style="color: #e8277a;">Login</h2>
            <hr>
            <div class="panel" ng-show="loginStatus.message">
                <div class="panel-body text-center">
                <p>{{loginStatus.message}}</p>
                </div>
            </div>
            <form role="form" name="form" id="loginForm" style="margin-top: 20px;" novalidate>
                <div ng-class="{'has-error form-group':form.$submitted &&form.email.$error.required === true,'form-group':true}">
                    <label for="email">Email</label>
                    <input type="text" style="font-size: 16px;" name="email" class="form-control" id="email"
                           placeholder="anthony@gonzalvis.com"
                           ng-model="user.email" required="">
                </div>

                <div ng-class="{'has-error form-group':form.$submitted &&form.password.$error.required === true,'form-group':true}">
                    <label for="password">Password</label>
                    <input type="password" name="password" style="font-size: 16px;" class="form-control" id="password"
                           placeholder="shhhhhhhh"
                           ng-model="user.password" required="">
                </div>

                <div class="text-center">
                    <button type="submit" id="loginButton" data-loading-text="Logging in..."
                            class="btn btn btn-primary-border"
                            ng-click="login()">Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>