<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1608020712745966&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
    // Include the UserVoice JavaScript SDK (only needed once on a page)
    UserVoice = window.UserVoice || [];
    (function () {
        var uv = document.createElement('script');
        uv.type = 'text/javascript';
        uv.async = true;
        uv.src = '//widget.uservoice.com/f5oeTjQEmzbG51fJhjObxg.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(uv, s)
    })();

    //
    // UserVoice Javascript SDK developer documentation:
    // https://www.uservoice.com/o/javascript-sdk
    //

    // Set colors
    UserVoice.push(['set', {
        accent_color: '#e8277a',
        trigger_color: '#FFFFFF',
        trigger_background_color: '#e8277a'
    }]);

    // Identify the user and pass traits
    // To enable, replace sample data with actual user traits and uncomment the line
    UserVoice.push(['identify', {
        //email:      'john.doe@example.com', // User’s email address
        //name:       'John Doe', // User’s real name
        //created_at: 1364406966, // Unix timestamp for the date the user signed up
        //id:         123, // Optional: Unique id of the user (if set, this should not change)
        //type:       'Owner', // Optional: segment your users by type
        //account: {
        //  id:           123, // Optional: associate multiple users with a single account
        //  name:         'Acme, Co.', // Account name
        //  created_at:   1364406966, // Unix timestamp for the date the account was created
        //  monthly_rate: 9.99, // Decimal; monthly rate of the account
        //  ltv:          1495.00, // Decimal; lifetime value of the account
        //  plan:         'Enhanced' // Plan name for the account
        //}
    }]);

    // Add default trigger to the bottom-right corner of the window:
    UserVoice.push(['addTrigger', {mode: 'contact', trigger_position: 'bottom-right'}]);

    // Or, use your own custom trigger:
    //UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

    // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
    UserVoice.push(['autoprompt', {}]);
</script>
<div class="container-fluid" ng-controller="SharePageController as ctrl" style="background-color: #e8277a;"
     ng-init="init()">
    <div class="row">
        <div class="col-md-6">
            <a ng-click="goToDashboard()"><img src="/public/img/logo.png" style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;margin-top: 100px;"/></a>

            <h1 class="text-center" style="color:#fee33d;margin-left: 20px; margin-top: -10px;">Next Generation Of Group
                Buying</h1>

            <div class="col-md-12 text-center" style="margin-bottom: 100px;margin-top: 40px;">
                <a href="" class="btn btn-lg btn-primary-yellow" ng-click="goToRegister()">Register To Buy</a>
            </div>
        </div>
        <div class="col-md-6" style="margin-top: 70px;" ng-show="deal.id">
            <div class="panel panel-default">
                <div class="panel-title text-center"><h1 style="color:#e8277a; ">Buy {{deal.name}} in Group</h1></div>
                <div class="panel-body">
                    <div class="col-md-12" style="margin-bottom: 10px;"></div>
                    <div class="col-md-4">
                        <img width="100%;"
                             style="margin-left: auto; margin-right: auto;"
                             src="{{deal.image_link}}">
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4"><strong>Screen Size</strong></div>
                            <div class="col-md-8">{{deal.screen_size}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>CPU</strong></div>
                            <div class="col-md-8">{{deal.cpu}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>GPU</strong></div>
                            <div class="col-md-8">{{deal.gpu}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Memory</strong></div>
                            <div class="col-md-8">{{deal.memory}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Camera</strong></div>
                            <div class="col-md-8">{{deal.camera}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>OS</strong></div>
                            <div class="col-md-8">{{deal.os}}</div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-md-4"><strong>Battery</strong></div>
                            <div class="col-md-8">{{deal.battery}}</div>
                        </div>
                        <a style="" href="{{deal.full_specification_link}}" target="_blank">View Full
                            Specs
                            Here</a></div>
                    <div class="row" style="border-top: 1px solid #ecf0f1;"></div>
                    <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                        <div class="col-md-4 text-center">
                            <span>MRP (Rs)</span>

                            <h3 style="color:#e8277a;">{{deal.mrp}}</h3>
                        </div>
                        <div class="col-md-4 text-center">
                            <span>Current Discount</span>

                            <h1 style="color:#e8277a;">{{deal.current_discount}}</h1>
                        </div>
                        <div class="col-md-4 text-center">
                            <span>Closing On</span>

                            <h1 style="color:#e8277a;">{{deal.closing_on | date :'dd-MMM'}}</h1>
                        </div>
                        <div class="col-md-4 text-center">
                            <span>Current People Count</span>

                            <h1 style="color:#e8277a;">{{deal.current_people_count}}</h1>
                        </div>
                        <div class="col-md-4 text-center">
                            <span>Next Discount</span>

                            <h1 style="color:#e8277a;">{{deal.next_discount}}</h1>
                            <span>For {{deal.next_discount_for}} People</span>
                        </div>
                    </div>
                    <div class="row" style="border-top: 1px solid #ecf0f1;"></div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12 text-center" style="margin-bottom: 20px;">
                            More you share, More the discount !
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                            <div class="fb-share-button" data-href="http://www.lemonades.in/#!/share/{{deal.id}}?utm_source=fb_share_sharepage&utm_medium=website&utm_campaign=share"
                                 data-layout="button_count"></div>
                        </div>
                        <div class="col-md-3">
                            <a href="https://twitter.com/share" class="twitter-share-button"
                               data-text="Make groups and Get huge discounts on mobiles #mobiledevices #smartphones"
                               data-url="http://www.lemonades.in/#!/share/{{deal.id}}?utm_source=tw_share_sharepage&utm_medium=website&utm_campaign=share">Tweet</a>
                            <script>!function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                if (!d.getElementById(id)) {
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = p + '://platform.twitter.com/widgets.js';
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                            }(document, 'script', 'twitter-wjs');</script>
                        </div>
                        <div class="col-md-4">
                            <!-- Place this tag where you want the share button to render. -->
                            <div class="g-plus" data-action="share" data-height="24" data-href="http://www.lemonades.in/#!/share/{{deal.id}}?utm_source=gplus_share_sharepage&utm_medium=website&utm_campaign=share"></div>

                            <!-- Place this tag after the last share tag. -->
                            <script type="text/javascript">
                                (function () {
                                    var po = document.createElement('script');
                                    po.type = 'text/javascript';
                                    po.async = true;
                                    po.src = 'https://apis.google.com/js/platform.js';
                                    var s = document.getElementsByTagName('script')[0];
                                    s.parentNode.insertBefore(po, s);
                                })();
                            </script>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="container-fluid" ng-controller="SharePageController as ctrl" style="">
    <div class="row">
        <h1 class="text-center" style="color:#e8277a; ">How it works ?</h1>

        <div class="col-md-12" style="margin-bottom: 50px;">
            <img src="/public/img/flow_white.png" style="display: block;
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;"/>
        </div>

        <div class="col-md-12 text-center" style="margin-bottom: 100px;margin-top: 40px;">
            <a href="" class="btn btn-lg btn-primary" ng-click="goToRegister()">Register To Buy</a>
        </div>
    </div>