<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=311407208924605&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
    // Include the UserVoice JavaScript SDK (only needed once on a page)
    UserVoice = window.UserVoice || [];
    (function () {
        var uv = document.createElement('script');
        uv.type = 'text/javascript';
        uv.async = true;
        uv.src = '//widget.uservoice.com/f5oeTjQEmzbG51fJhjObxg.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(uv, s)
    })();

    //
    // UserVoice Javascript SDK developer documentation:
    // https://www.uservoice.com/o/javascript-sdk
    //

    // Set colors
    UserVoice.push(['set', {
        accent_color: '#e8277a',
        trigger_color: '#e8277a',
        trigger_background_color: '#fee33d'
    }]);

    // Identify the user and pass traits
    // To enable, replace sample data with actual user traits and uncomment the line
    UserVoice.push(['identify', {
        //email:      'john.doe@example.com', // User’s email address
        //name:       'John Doe', // User’s real name
        //created_at: 1364406966, // Unix timestamp for the date the user signed up
        //id:         123, // Optional: Unique id of the user (if set, this should not change)
        //type:       'Owner', // Optional: segment your users by type
        //account: {
        //  id:           123, // Optional: associate multiple users with a single account
        //  name:         'Acme, Co.', // Account name
        //  created_at:   1364406966, // Unix timestamp for the date the account was created
        //  monthly_rate: 9.99, // Decimal; monthly rate of the account
        //  ltv:          1495.00, // Decimal; lifetime value of the account
        //  plan:         'Enhanced' // Plan name for the account
        //}
    }]);

    // Add default trigger to the bottom-right corner of the window:
    UserVoice.push(['addTrigger', {mode: 'contact', trigger_position: 'bottom-right'}]);

    // Or, use your own custom trigger:
    //UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

    // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
    UserVoice.push(['autoprompt', {}]);
</script>
<div class="container-fluid" ng-controller="LandingPageController as ctrl" style="background-color: #e8277a;">
    <div class="row">
        <div class="col-md-6" >
            <img src="/public/img/logo.png" style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;margin-top: 100px;"/>

            <h1 class="text-center" style="color:#fee33d;margin-left: 20px; margin-top: -10px;">Next Generation Of Group
                Buying</h1>

            <div class="col-md-12 text-center" style="margin-bottom: 100px;margin-top: 40px;">
                <a href="" class="btn btn-lg btn-primary-yellow" ng-click="signUp()">Register</a>
            </div>
        </div>
        <div class="col-md-6" style="margin-top: 70px;">
            <div class="panel panel-default">
                <div class="panel-title text-center"><h1 style="color:#e8277a; ">Buy Google Nexus 6</h1></div>
                <div class="panel-body">
                    <div class="col-md-12" style="margin-bottom: 10px;"></div>
                    <div class="col-md-4">
                        <img width="80%;"
                             style="margin-left: auto; margin-right: auto;"
                             src="http://cdn1.xda-developers.com/devdb/deviceForum/screenshots/3706/20141020T045645.jpg">
                    </div>
                    <div class="col-md-8"><div class="row">
                        <div class="col-md-4"><strong>Screen Size</strong></div>
                        <div class="col-md-8">6 inch</div>
                    </div>
                        <div class="row">
                            <div class="col-md-4"><strong>CPU</strong></div>
                            <div class="col-md-8">Quad-core 2.7 GHz</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>GPU</strong></div>
                            <div class="col-md-8">Adreno 420</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Memory</strong></div>
                            <div class="col-md-8">32/64 GB, 3 GB RAM</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Camera</strong></div>
                            <div class="col-md-8">13 MP</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>OS</strong></div>
                            <div class="col-md-8">Android OS, v5.0 (Lollipop), upgradable to v5.1 (Lollipop)</div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-md-4"><strong>Battery</strong></div>
                            <div class="col-md-8">Non-removable Li-Po 3220 mAh battery</div>
                        </div>
                        <a style="" href="http://www.gsmarena.com/motorola_nexus_6-6604.php" target="_blank">View Full
                            Specs
                            Here</a></div>
                    <div class="row" style="border-top: 1px solid #ecf0f1;"></div>
                    <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                        <div class="col-md-4 text-center">
                            <span>MRP (Rs)</span>

                            <h1 style="color:#e8277a;">44,123</h1>
                        </div>
                        <div class="col-md-4 text-center">
                            <span>Current Discount</span>

                            <h1 style="color:#e8277a;">10% Off</h1>
                        </div>
                        <div class="col-md-4 text-center">
                            <span>Closing In</span>

                            <h1 style="color:#e8277a;">1 Day(s)</h1>
                        </div>
                        <div class="col-md-4 text-center">
                            <span>Current People Count</span>

                            <h1 style="color:#e8277a;">43</h1>
                        </div>
                        <div class="col-md-4 text-center">
                            <span>Next Discount</span>

                            <h1 style="color:#e8277a;">12%</h1>
                            <span>For 50 People</span>
                        </div>
                        <div class="col-md-4 text-center">
                            <span>Seller Area</span>

                            <h1 style="color:#e8277a;">Baner</h1>
                        </div>
                    </div>
                    <div class="row" style="border-top: 1px solid #ecf0f1;"></div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12 text-center" style="margin-bottom: 20px;">
                            More you share, More the discount !
                        </div>
                        <div class="col-md-5">
                            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="100"
                                 data-layout="standard" data-action="recommend" data-show-faces="true"
                                 data-share="true"></div>
                        </div>
                        <div class="col-md-3">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-size="large">Tweet</a>
                            <script>!function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                if (!d.getElementById(id)) {
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = p + '://platform.twitter.com/widgets.js';
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                            }(document, 'script', 'twitter-wjs');</script>
                        </div>
                        <div class="col-md-4">
                            <!-- Place this tag where you want the share button to render. -->
                            <div class="g-plus" data-action="share" data-height="24"></div>

                            <!-- Place this tag after the last share tag. -->
                            <script type="text/javascript">
                                (function () {
                                    var po = document.createElement('script');
                                    po.type = 'text/javascript';
                                    po.async = true;
                                    po.src = 'https://apis.google.com/js/platform.js';
                                    var s = document.getElementsByTagName('script')[0];
                                    s.parentNode.insertBefore(po, s);
                                })();
                            </script>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <h1 class="text-center" style="color:#fee33d; ">How it works ?</h1>

        <div class="col-md-12" style="margin-bottom: 50px;">
            <img src="/public/img/flow.png" style="display: block;
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;"/>
        </div>

        <div class="col-md-12 text-center" style="margin-bottom: 100px;margin-top: 40px;">
            <a href="" class="btn btn-lg btn-primary-yellow" ng-click="signUp()">Register</a>
        </div>
    </div>
</div>