<script>
    // Include the UserVoice JavaScript SDK (only needed once on a page)
    UserVoice = window.UserVoice || [];
    (function () {
        var uv = document.createElement('script');
        uv.type = 'text/javascript';
        uv.async = true;
        uv.src = '//widget.uservoice.com/f5oeTjQEmzbG51fJhjObxg.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(uv, s)
    })();

    //
    // UserVoice Javascript SDK developer documentation:
    // https://www.uservoice.com/o/javascript-sdk
    //

    // Set colors
    UserVoice.push(['set', {
        accent_color: '#e8277a',
        trigger_color: 'white',
        trigger_background_color: '#e8277a'
    }]);

    // Identify the user and pass traits
    // To enable, replace sample data with actual user traits and uncomment the line
    UserVoice.push(['identify', {
        //email:      'john.doe@example.com', // User’s email address
        //name:       'John Doe', // User’s real name
        //created_at: 1364406966, // Unix timestamp for the date the user signed up
        //id:         123, // Optional: Unique id of the user (if set, this should not change)
        //type:       'Owner', // Optional: segment your users by type
        //account: {
        //  id:           123, // Optional: associate multiple users with a single account
        //  name:         'Acme, Co.', // Account name
        //  created_at:   1364406966, // Unix timestamp for the date the account was created
        //  monthly_rate: 9.99, // Decimal; monthly rate of the account
        //  ltv:          1495.00, // Decimal; lifetime value of the account
        //  plan:         'Enhanced' // Plan name for the account
        //}
    }]);

    // Add default trigger to the bottom-right corner of the window:
    UserVoice.push(['addTrigger', {mode: 'contact', trigger_position: 'bottom-right'}]);

    // Or, use your own custom trigger:
    //UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

    // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
    UserVoice.push(['autoprompt', {}]);
</script>
<div class="container-fluid" ng-controller="SignUpPageController as ctrl" ng-init="init()"
     style="padding-top: 20px;padding-bottom: 50px;">
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="infoModalLabel">Lemonades Beta Program</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Lemonades beta program, is a validation phase for the next-step of online shopping in India.
                        Before starting to serve the need of every online buyer, we want to test, refine and ease out
                        the
                        business model. </p>

                    <p><strong>We are not using beta tag for getting the cushion for probable hiccups!</strong> We have
                        invested our
                        whole and sole to make this service as super efficient as possible.</p>

                    <p>For the
                        initial few months, we will be manually moderating each of every member of the Lemonades
                        community and every
                        deal that is going on, so as to make sure the validity and authenticity of every bit of the
                        information available
                        on the platform.</p>

                    <p>At any point, if you are unsatisfied with the service, or find any unpleasant, untrue content on
                        the site, we are
                        just a tweet/a phone call/an email away from you :). We take 100% responsibility of every bit of
                        content on the site.</p>

                    <p>We are thrilled and really happy to take you aboard. <strong>Thank you for helping us
                        out</strong>.</p>
                </div>
                <div class="modal-footer">
                    <p>With <span style="color:#e8277a; "><3</span> from Lemonades Team</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <a href="" ng-click="goToDashboard()"><img src="/public/img/glass.png" height="80px;" style="display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;"/></a>

            <h2 class="text-center" style="color: #e8277a;">Sign Up</h2>

            <div class="col-md-12 text-center">
                <span>We are looking for the people who want to buy smart phone in the coming month.</span>
            </div>
            <hr>
            <form role="form" name="form" id="singUpForm" style="margin-top: 20px;" novalidate>
                <div ng-class="{'has-error form-group':form.$submitted &&form.yourName.$error.required === true,'form-group':true}">
                    <label for="yourName">Your Name</label>
                    <input type="text" style="font-size: 16px;" id="yourName" name="yourName"
                           placeholder="Anthony Gonzalvis"
                           class="form-control"
                           ng-model="user.name" required="">
                </div>
                <div ng-class="{'has-error form-group':form.$submitted &&form.mobile.$error.required === true,'form-group':true}">
                    <label for="mobile">Your Mobile Number</label>
                    <input type="text" style="font-size: 16px;" class="form-control" id="mobile" name="mobile"
                           placeholder="9860420420"
                           ng-model="user.mobile" required="">
                </div>
                <div ng-class="{'has-error form-group':form.$submitted &&form.currentHandset.$error.required === true,'form-group':true}">
                    <label for="currentHandset">Your Current Handset</label>
                    <input type="text" style="font-size: 16px;" class="form-control" id="currentHandset"
                           name="currentHandset"
                           placeholder="Nokia 3310"
                           ng-model="user.current_handset" required="">
                </div>
                <div ng-class="{'has-error form-group':form.$submitted &&form.lookingForHandset.$error.required === true,'form-group':true}">
                    <label for="lookingForHandset">Handset You are Looking to Buy</label>
                    <input type="text" style="font-size: 16px;" class="form-control" id="lookingForHandset"
                           name="lookingForHandset"
                           placeholder="Google Nexus 6"
                           ng-model="user.looking_for_handset" required="">
                </div>
                <div ng-class="{'has-error form-group':form.$submitted &&form.city.$error.required === true,'form-group':true}">
                    <label for="city">Your City</label>
                    <select class="form-control" id="city" ng-model="user.city" name="city">
                        <option>Pune</option>
                        <option>Mumbai</option>
                        <option>Banglore</option>
                        <option>Other</option>
                    </select>
                </div>
                <div ng-class="{'has-error form-group':form.$submitted && form.locality.$error.required === true,'form-group':true}">
                    <label for="locality">Locality of Residence/Delivery</label>
                    <input type="text" placeholder="Baner" class="form-control" id="locality" name="locality"
                           ng-model="user.locality" required="">
                </div>
                <div ng-class="{'has-error form-group':form.$submitted &&form.address.$error.required === true,'form-group':true}">
                    <label for="address">Address of Residence/Delivery</label>
                    <input type="text"
                           placeholder="Row House No 2, Anusha Classics, Behind Central Bank, Baner-Balewadi Phata"
                           name="address"
                           class="form-control" id="address" ng-model="user.address" required="">
                </div>
                <div ng-class="{'has-error form-group':form.$submitted &&form.address.$error.required === true,'form-group':true}">
                    <label for="pincode">Pincode</label>
                    <input type="text" placeholder="411045" class="form-control" id="pincode" name="pincode"
                           ng-model="user.zip_code" required="">
                </div>
                <div ng-class="{'has-error form-group':form.$submitted &&form.address.$error.required || form.email.$error.email === true,'form-group':true}">
                    <label for="email">Email</label>
                    <input type="text" style="font-size: 16px;" class="form-control" id="email" name="email"
                           placeholder="anthony@gonzalvis.com"
                           ng-model="user.email" required="">
                </div>

                <div ng-class="{'has-error form-group':form.$submitted &&form.password.$error.required === true,'form-group':true}">
                    <label for="password">Password</label>
                    <input type="password" style="font-size: 16px;" class="form-control" id="password" name="password"
                           placeholder="shhhhhhhh"
                           ng-model="user.password" required="">
                </div>

                <div class="text-center">
                    <button type="submit" id="signUpButton" data-loading-text="Signing up..."
                            class="btn btn-lg btn-primary-border"
                            ng-disabled="signUpForm.$dirty && signUpForm.$error"
                            ng-click="signUp()">SignUp
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-12 text-center" style="margin-top: 30px;">
            <h5 class="text-center"><a data-toggle="modal" data-target="#infoModal">Click here</a> for understanding
                more about the beta program.</h5>
        </div>
    </div>
</div>